# Dependency directory
node_modules/

# Production build output
/build

# Tailwind CSS cache (optional, if using JIT mode cache)
.tailwind/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Editor settings
.vscode/
.idea/
*.swp

# System files
.DS_Store
Thumbs.db
